.sales-products-filter select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #fff;
    background-image: none;
}

/* Custom Select */
.sales-products-filter .select {
    position: relative;
    display: block;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #fff;
    overflow: hidden;
    border-radius: .25em;
}

.sales-products-filter select {
    width: 25%;
    height: 45px;
    margin: 20px 10px;
    padding: 0 0 0 1rem;
    color: black;
    cursor: pointer;
    border-radius: 0;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sales-products-filter select::-ms-expand {
    display: none;
}

/* Arrow */
.sales-products-filter .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #34495e;
    pointer-events: none;
}

/* Transition */
.sales-products-filter .select:hover::after {
    color: #f39c12;
}

.sales-products-filter .select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

.sales-products-filter .filter-btn {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8rem;
    padding: 12px 20px;
    display: inline-block;
    margin-left: 20px;
    border-radius: 10px;
}

.sales-products-filter .filter-btn:hover{
    color: #fff;
    background-color: #5cb85c;
} 

.sales-products-filter {
    display: block;
    margin: 0 auto;
    text-align: center;
}